/* CSS Document */

body {
	padding-top:50px;
	padding-bottom:50px;
	background-color: #f5f5f5;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}

.form-signin{
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-search{
	max-width: 900px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-search .form-search-heading,
.form-search .checkbox {
	margin-bottom: 10px;
}

.form-s-row{
	width:900px;
	margin-bottom:20px;
	margin-top:20px;
	font-size:16px;
}
.form-s-btn{
	width:870px;
	margin-bottom:20px;
	margin-top:20px;
	margin-right:30px;
	text-align:right;
	font-size:16px;
}

.search-list{
	max-width: 900px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}